[submodule "app/submodules/rank-lib"]
	path = app/submodules/rank-lib
	url = git@github.com:LotusiaStewardship/rank-lib.git
	branch = master
[submodule "app/submodules/bitcore-lib-xpi"]
	path = app/submodules/bitcore-lib-xpi
	url = https://github.com/LotusiaStewardship/bitcore-lib-xpi
